node_modules/
dist/
.env
.env.local
*.gguf
models/
BitNet/build/
__pycache__/
*.pyc
*.pyo
.DS_Store
*.log
data/
/frontend/dist/
wrangler.toml.local

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
